body {
  background: #fff;
  font-family: Calibri;
  font-size: 12pt;
  color: #000;
  margin: 0.5in;
  line-height: 1.4;
}
h1 {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  margin: 0 0 12pt 0;
}
.header-contact {
  text-align: center;
  margin: 0 0 24pt 0;
  font-size: 12pt;
}
.section-title {
  font-size: 14pt;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin: 24pt 0 12pt 0;
}
.section-content {
  text-align: left;
}
.section-content p {
  font-size: 12pt;
  margin: 6pt 0;
}
.section-content ul {
  margin: 6pt 0;
  padding-left: 24pt;
  list-style-type: disc;
  list-style-position: outside;
}
.section-content li {
  font-size: 12pt;
  margin: 4pt 0;
}
.role {
  font-style: italic;
}
