body {
    background: #FFB7C5;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 55px;
    color: SeaGreen;
    text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap;
 } 
.project {
    width: 90%;
    margin: 10px;
    padding: 20px 10px; 
    border-radius: 25%;
}
.project img {
    max-width: 300px; 
    height: auto;
    display: block;
    border-radius: 8px;
}

.skills img {
    display: block;
    width: auto;
    height: 300px;
}
.skills .resume-links {
  display: block;
  margin-top: 8px;
}
a {
    text-decoration: underline;
    font-weight: bold;
    color: #3a0453;
}
    .project p { 
    text-align: center;
    margin: 15px;
}