body {
    background: #b687e6;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: ForestGreen;
    text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap;
 } 
.project {
    width: 100%;
    margin: 10px;
    padding: 20px 10px; 
    border-radius: 25%;
}