body {
    background: darkmagenta;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: ForestGreen;
    text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap;
 } 
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px; 
    border-radius: 25%;
    position: relative;
    left: 200px;
}