body {
    background: #b687e6;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 45px;
    color: ForestGreen;
    text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap;
 } 
.project {
    width: 90%;
    margin: 10px;
    padding: 20px 10px; 
    border-radius: 25%;
}
.skills img {
    display: block;
    width: auto;
    height: 300px;
}
.skills .resume-links {
  display: block;
  margin-top: 8px;
}
a {
    text-decoration: underline;
    font-weight: bold;
    color: rgb(58, 4, 83);
}
    .project p { 
    text-align: center;
    margin: 15px;
}