body {
    background: #b687e6;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 20pt;
    color: ForestGreen;
    text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap;
 } 
.project {
    width: 90%;
    margin: 10px;
    padding: 20px 10px; 
    border-radius: 25%;
}
a { /* change the appearance of ALL links */
text-decoration: none;
color: rgb(58, 4, 83);
}
.project p { /* change the appearance of paragraph tags inside .project divs */
text-align: center;
margin: 15px;
}